body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  margin: 0;
  min-height: 100vh;
}

header,
footer {
  text-align: center;
  background-color: #bef4ff;
}

header hr,
footer hr {
  margin: 0;
}

footer p,
header h1 {
  margin: 0;
  padding: 1rem;
}

.content {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  overflow: hidden;
  min-height: calc(100vh - 7.8rem);
}

.shadow-box {
  display: flex;
  box-shadow: 0 0 0.25rem gray;
  height: fit-content;
  margin: 1rem;
  border-radius: 1px;
}

.drop-zone {
  width: 8rem;
  height: 4rem;
  padding: 4rem 2rem;
  margin: 8rem;
  border: 0.2rem solid rgb(0.1, 0.1, 0.1);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.drop-zone img {
  width: 2rem;
}

.drop-zone p {
  margin: 0;
}

.drop-zone:hover {
  cursor: pointer;
}

#pdf-container {
  position: relative;
}

.field-box {
  position: absolute;
  background-color: rgba(255, 0, 0, 0.1);
}

.field-box:hover,
.field-box.focused-field {
  background-color: rgba(255, 0, 0, 0.5);
  cursor: pointer;
}

.field-box svg {
  position: absolute;
  z-index: 100;
  pointer-events: none;
  overflow: visible;
  top: 50%;
  opacity: 0.1;
}

.field-box:hover svg,
.field-box.focused-field svg {
  opacity: 1;
}

.jcontextmenu > div:last-child {
  display: none;
}

.spreadsheet-input {
  width: 3rem;
}

.action-button {
  background-color: #bef4ff;
  border: none;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  box-shadow: 1px 1px 2px gray;
}

.action-button:hover {
  background-color: #86ebff;
}

.action-button:active {
  background-color: #30dcff;
  box-shadow: 1px 1px 1px gray;
}

#spreadsheet-container > .jexcel_content > .jexcel > tbody > tr > td {
  text-align: left !important;
}

#spreadhseet-generate-form {
  display: inline-block;
}

.shadow-box .jexcel_content {
  padding: 0.6rem 0.5rem 0.5rem 0.6rem;
}
