body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  margin: 0;
}

header,
footer {
  text-align: center;
}

.content {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  overflow: hidden;
}

.spreadsheet-input {
  width: 4rem;
}

.drop-zone {
  width: 8rem;
  height: 4rem;
  padding: 4rem 2rem;
  margin: 8rem;
  border: 0.2rem solid rgb(0.1, 0.1, 0.1);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.drop-zone img {
  width: 2rem;
}

.drop-zone p {
  margin: 0;
}

.drop-zone:hover {
  cursor: pointer;
}

#pdf-container {
  position: relative;
}

.field-box {
  position: absolute;
  background-color: rgba(255, 0, 0, 0.1);
}

.field-box:hover,
.field-box.focused-field {
  background-color: rgba(255, 0, 0, 0.5);
  cursor: pointer;
}

.field-box svg {
  position: absolute;
  z-index: 100;
  pointer-events: none;
  overflow: visible;
  top: 50%;
  opacity: 0.1;
}

.field-box:hover svg,
.field-box.focused-field svg {
  opacity: 1;
}

.jcontextmenu > div:last-child {
  display: none;
}
