body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  margin: 0;
}

header,
footer {
  text-align: center;
}

.content {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  overflow: hidden;
}

.drop-zone {
  width: 8rem;
  height: 4rem;
  padding: 4rem 2rem;
  margin: 8rem;
  border: 0.2rem solid rgb(0.1, 0.1, 0.1);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.drop-zone img {
  width: 2rem;
}

.drop-zone p {
  margin: 0;
}

.drop-zone:hover {
  cursor: pointer;
}

#pdf-container {
  position: relative;
}

.field-box {
  position: absolute;
  inset: 2px solid red;
  background-color: rgba(255, 0, 0, 0.2);
}

.field-box:hover {
  background-color: rgba(255, 0, 0, 0.5);
}

.field-box svg {
  position: absolute;
  /* border: 2px solid green; */
  z-index: 100;
  pointer-events: none;
  /* width: 100vw; */
  /* height: 100vh; */
  overflow: visible;
  top: 50%;
}
